body {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    width: 100%;
    text-align: left;
    padding-left: 25px;
}
h1 small {
    color: #999;
    padding-left: 25px;
}
.holidays {
    padding: 0;
    float: left;
    width: 50%;
}
.holidays table {
    padding: 50px 10px 25px 10px;
}
.holidays table td,
.holidays table th {
    padding-left: 15px;
}
.holidays table th {
    text-align: left;
}
#calendar {
    margin: auto;
    max-width: 1400px;
}
#calendar .row {
    padding: 15px 0;
    clear: both;
}
#calendar .mblock {
    padding: 0 25px;
    float: left;
    min-width: 300px;
}
#calendar th, #calendar td {
    text-align: right;
    padding: 5px 8px 5px 8px;
}
#calendar th.month {
    font-size: 22px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
}
#calendar th.week {
    color: #aad;
    font-weight: normal;
}
#calendar th.this-week {
    background-color: #f2f2f7;
}
#calendar tr.weekdays th {
    background: #999;
    color: white;
}
#calendar td.Bank-Holiday, 
#calendar td.Bank {
    position: relative;
    font-weight: bold;
    color: #e22;
}
#calendar td.Bank-Holiday:hover span.tooltip,
#calendar td.Bank:hover span.tooltip {
    visibility: visible;
    opacity: 1;
}
#calendar td.Bank-Holiday span.tooltip:after,
#calendar td.Bank span.tooltip:after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 49%;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
#calendar td.Bank-Holiday span.tooltip,
#calendar td.Bank span.tooltip {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
    position: absolute;
    z-index: 1;
    background-color: black;
    color: white;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 16px;
}
#calendar td.Bank-Holiday span.tooltip {
    width: 300px;
    margin-left: -150px;
    text-align: left;
    padding-left: 10px;
}
#calendar td.Bank span.tooltip {
    width: 220px;
    margin-left: -110px;
    text-align: center;
}
#calendar td.School {
    background: #ceeec9;
}
#calendar td.Today {
    border: 4px solid #e22;
    padding: 1px 4px 1px 4px;
}
#calendar td.Sa {
    background: #eee;
}
#calendar td.Sa.School {
    background: #bedeb9;
}
#calendar td.So {
    background: #ddd;
    font-weight: bold;
    color: #e22;
}
#calendar td.So.School {
    background: #aecea9;
}
